{% extends 'layout/base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}


{% block content %}
<div class="container_regis">
    <h2>Đăng ký khám bệnh</h2>
    <form id="registrationForm">
        <label for="name">Họ và tên:</label>
        <input type="text" id="name" name="name" required>

        <label for="dob">Ngày sinh:</label>
        <input type="date" id="dob" name="dob" required>

        <label for="gender">Giới tính:</label>
        <select id="gender" name="gender" required>
            <option value="">Chọn giới tính</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
            <option value="other">Khác</option>
        </select>

        <label for="appointmentDate">Ngày muốn khám:</label>
        <input type="date" id="appointmentDate" name="appointmentDate" required>

        <label for="doctor">Chọn bác sĩ:</label>
        <input list="doctors" name="doctor" id="doctor" placeholder="Nhập tên bác sĩ..." required>
        <datalist id="doctors">
            <option value="Bác sĩ A">
            <option value="Bác sĩ B">
            <option value="Bác sĩ C">
            <option value="Bác sĩ D">
        </datalist>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="notes">Ghi chú thêm:</label>
        <textarea id="notes" name="notes" rows="4"></textarea>

        <button type="submit">Xác nhận đăng ký</button>
    </form>
</div>
{% endblock %}