{% extends 'layout/base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block content %}
<div class="container">
<div class="flex">
    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="">
            <a onclick="showPatients()" class="btn-find">
                <i class="bi bi-people"></i><span>Bệnh nhân</span>
            </a>
            <span class="divider" style="color:rgba(128, 128, 128, 0.488)">|</span>
            <a onclick="showMedicines()" class="btn-find">
                <i class="bi bi-capsule-pill"></i><span>Thuốc</span>
            </a>
        </nav>

        <div class="container">
            <div class="box">
                <form name="search">
                    <input type="hidden" id="type" name="type" value="{{ request.args.get('type', '') }}">
                    <input type="text" class="input" id="kw" name="kw" value="{{ request.args.get('kw', '') }}">
                </form>
            </div>
            <div class="container">
                {% if show_patients %}
                <div class="table-responsive"
                     style="max-height: 500px; overflow-y: auto; border: 1px solid #ddd; margin:5px">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tên bệnh nhân</th>
                            <th>SĐT</th>
                            <th>Tuổi</th>
                            <th>Chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in patients %}
                        <tr>
                            <td>{{ x.name }}</td>
                            <td>{{ x.phone }}</td>
                            <td>{{ x.birthday }}</td>
                            <td>
                <!-- Nút "+" để chọn bệnh nhân -->
                             <button class="btn btn-primary btn-sm"
                                 onclick="fillForm('{{ x.name }}', '{{ x.phone }}')">+</button>
                             </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}


                {% if not show_patients %}
                <div class="table-responsive"
                     style="max-height: 500px; overflow-y: auto; border: 1px solid #ddd; margin:5px">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tên thuốc</th>
                            <th>Đơn vị thuốc</th>
                            <th>Giá tiền</th>
                            <th>Thêm</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in medicines %}
                        <tr>
                            <td>{{ x.name }}</td>
                            <td>{{ x.unit }}</td>
                            <td>{{ x.price }}</td>
                            <td>
                            <button class="btn btn-primary btn-sm"
                                 onclick="addToCart({{ x.id }}, '{{ x.name }}', '{{ x.unit }}')'">+</button>
                             </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Main Content -->
    <div class="main-content">
        <div class="form-container">
            <div class="form-header">
                <h3 class="">Thông tin bệnh nhân</h3>
            </div>
            <div class="form-body">
                <div class="grid">
                    <div>
                        <label for="name-of-patient">Họ tên</label>
                        <input id="name-of-patient" placeholder="Tên của bệnh nhân..." oninput="saveFormData()"/>
                    </div>
                    <div>
                        <label for="appointment-date" oninput="saveFormData()" >Ngày khám </label>
                        <input id="appointment-date" placeholder="Ngày khám bệnh..." oninput="saveFormData()"/>
                    </div>
                    <div>
                        <label for="phone">Số điện thoại</label>
                        <input id="phone" type="text" oninput="saveFormData()"/>
                    </div>
                    <div>
                        <label for="gender" >Gender</label>
                        <select id="gender" onchange="saveFormData()">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="du-doan-label">
                    <label for="mobile">Dự đoán bệnh</label>
                    <input id="mobile" type="text" oninput="saveFormData()"/>
                </div>
            </div>

            <div class="form-header">
                <h3 class="">Đơn thuốc</h3>
            </div>

            <div class="table-container">
                <table class="table-medicine">
                    <thead>
                    <tr>
                        <th>Số thứ tự</th>
                        <th>Thuốc</th>
                        <th>Đơn vị</th>
                        <th>Số lượng</th>
                        <th>Cách dùng</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in session['cart'].values() %}
                    <tr id="cart{{ c.id }}">
                        <td>{{ c.id }}</td>
                        <td>{{ c.name }}</td>
                        <td>{{ c.unit }}</td>
                        <td>
                            <input onblur="updateCart({{ c.id }}, this)" type="number" value="{{ c.quantity }}" class="form-control" />
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="deleteCart({{ c.id }})">&times;</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>

            <div class="form-footer">
                <button class="cancel-btn">Hủy</button>
                <button class="add-btn">Thêm</button>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}